.message{
    background-color: var(--clr-secondary);
    color: white;
    width: fit-content;
    padding: 3px 10px;
    margin: auto;
}

.newsletter{
    width: 80%;
    height: fit-content;
    border-radius: 5px;
    // background-color: var(--clr-secondary);
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    // margin: 10px;
margin: auto;
input{
    background-color: var(--clr-white);
}
}
h4{
    color: var(--clr-secondary);
}
@media (max-width:700px) {
    .newsletter{
        width: 100%;
        grid-template-columns: 1fr;
        .appointment-btn{
            width: fit-content;
            margin: auto;
        }
    }
}