a:hover {
  text-decoration: none;
}
.blog_wrapper {
  height: 350px;
  // border: 2px solid red;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 1px 8px var(--clr-border-shadow);
  transition: 0.6s;
  img {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .description {
    height: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 0.5rem 0.5rem;
    color: rgb(49, 49, 49);
    gap: 0.5rem;
    // border: 1px solid black;
    h4 {
      // border: 1px solid blue;
      max-height: 60%;
      // min-height: 40%;
      font-size: 100%;
      margin: 0;
      font-weight: 600;
    }
    .date {
      margin: 0;
      // border: 1px solid yellow;
      font-size: 0.7rem;
    }
    .short_desc {
      margin: 0;
      // border: 1px solid green;
      font-size: 1rem;
    }
    span {
      display: flex;
      height: fit-content;
      padding: 0;
      align-items: center;
      // border: 1px solid blue;
      gap: 0.3rem;
      p {
        margin: 0;
        // border: 1px solid red;
      }
    }
  }
}

.blog_wrapper:hover {
  box-shadow: 2px 2px 6px var(--clr-border-shadow);
  transition: 0.6s;
  transform: scale(1.03);
}

@media (max-width: 720px) {
}
